<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../resources/ai_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/customs.css">

    <meta charset="UTF-8">
    <title>TutorialField</title>
</head>
<body>

<a href="../home.html">
    <img class="homebutton" src="../resources/home.png" alt="home">
</a>

<a href="contacts.html">
    <img class="mailbutton" src="../resources/mail.png" alt="mail">
</a>

<h1>Welcome to TutorialField</h1>

<p class="page-description">This page is aimed to help people who want to start working on ML
    studies</p>

<hr>

<h2 class="step-headers"><i><u>Contact With Me</u></i></h2>

<table class="table-with-grids">
    <tr>
        <td>
            <form>
                <label>Name: </label>
                <input type="text" id="frame1" name="fname">
                <br>
                <label>Email: </label>
                <input type="text" id="frame2" name="fname">
                <br>
                <label>Details: </label>
                <textarea></textarea>
                <button type="submit">Submit</button>
            </form>
        </td>
    </tr>
</table>

<table>
    <td>
        <footer>© Copyright 2022 - TutorialField - Mehmet Can DEMIR</footer>
    </td>
</table>
</body>
</html>


