<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../resources/ai_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/customs.css">

    <meta charset="UTF-8">
    <title>TutorialField</title>
</head>
<body>

<a href="../home.html">
    <img class="homebutton" src="../resources/home.png" alt="home">
</a>

<a href="contacts.html">
    <img class="mailbutton" src="../resources/mail.png" alt="mail">
</a>

<h1>Welcome to TutorialField</h1>

<p class="page-description">This page is aimed to help people who want to start working on ML
    studies</p>

<hr>

<h2 class="step-headers"><i>A Complete Guide for TensorFlow Newbies</i></h2>

<table class="main-table">
    <tr>
        <td>
            <iframe id="ytplayer" type="text/html" width="720" height="540"

                    src="https://www.youtube.com/embed/tPYj3fFJGjk"
                    frameborder="0"></iframe>
            <!-- https://www.youtube.com/embed/watch?v=tPYj3fFJGjk -->
        </td>
    </tr>
</table>

<table>
    <td>
        <footer>© Copyright 2022 - TutorialField - Mehmet Can DEMIR</footer>
    </td>
</table>
</body>
</html>